.toast.show{
    position: fixed;
    left:20px;
    bottom:20px;
    z-index: 10;
}

.Menu_elements{
    position: center;
    margin: 0px 20%;
}

img{
    height: 10%;
    width:99%;

    border-radius:5px ;
}