.mainContainer {
    max-width: 1780px;
    min-height: 1000px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 10px;
}
.image {
    width: 99%;
}
