.side-drawer{
    font-size: 10px;
    height: 100%;
    background: white;
    box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.5);
    position:fixed;
    top:0;
    right:0;
    width: 30%;
    z-index: 200;
    transform: translateX(+100%);
    transition: transform 0.3s;
}

.side-drawer ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer a{
    color: darkslategray;
    text-decoration: none;
    font-size: 1.2rem;
}
.side-drawer.open{
    transform: translateX(0);
}


.side-drawer li {
    margin: 0.5rem 0;
}

.side-drawer a:hover,
.side-drawer a:active{
    color:#fa923f;
}

/*---------------CART CSS---------------------------------*/

.container_products{
    font-size: 20px;
    max-width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    margin_top: 50px;
}

.container_products ion-icons{
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product_header{
    width:100%;
    display:flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product_title{
    text-align: center;
    align-items: center;
    width: 45%;
}

.header_price{
    width: 15%;
}
.header_quantity{
    width: 30%;
}
.header_total{
    width: 10%;
}

.product_price{
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product_quantity{
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
.product_total{
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
.product{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}
.product ion-icon{
    cursor: pointer;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}
.basketTotalTitle{
    width: 30%;
}

.basketTotal{
    width:10%;
}

@media(max-width: 500px){
    nav h2{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .sm-hide{
        display: none;
    }
    .products,
    .products_header{
        justify-content: center;
    }
    .basketTotalContainer{
        padding-right: 8%;
    }
}



